name: Unit Test

on:
  push:
    branches:
      - master
    paths:
      - "src/**.py"
      - "tests/**"
      - "uv.lock"

  pull_request:
    paths:
      - "src/**.py"
      - "tests/**"
      - "uv.lock"

  workflow_call:

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run unit test
        run: uv run pytest
